<div class="container">
  <h4>Basic Airbnb</h4>
  <div class="m-5"></div>
  <h1 class="px-3">All our flats (<%= @flats_count %>)</h1>
  <div class="m-5"></div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @flats.each do |flat| %>
      <div class="col">
        <div class="card h-100 m-3" style="width: 24vw;">
          <div class="card-body d-grid">
            <h3 class="card-title">
              <%= flat.name %></h3>
            <p class="card-subtitle mb-2 text-muted">
              <%= flat.address %></p>
            <%# <p class="card-text"><%= flat.description %>
            <%# </p> %>
            <div class="d-flex">
              <p><i class="fa-solid fa-euro-sign">
              <%= flat.price_per_night %></i></p>
              <p class="mx-3"><i class="fa-solid fa-users">
              <%= flat.number_of_guests %></i></p>
            </div>
          </div>
          <div class="card-footer"><%= link_to "More info", class:"text-decoration-none" %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%#
 t.string "name"
    t.string "address"
    t.text "description"
    t.integer "price_per_night"
    t.integer "number_of_guests" %>
